<h3>Register here!!</h3>

<form action="/register" method="POST">
    <input type="text" placeholder="username" name="username">
    <input type="text" placeholder="password" name="password">
    <button type="submit">Sign up!</button>
</form>

<a href="/register">Sign UP!</a><br>
<a href="/login">Login!</a><br>
<a href="/logout">Logout!</a><br>